.article-content {
  width: 95vw;
  margin: auto;
}

@media (min-width: 450px)
{
  .article-content {
    width: 80vw;
  }
}

@media (min-width: 850px)
{
  .article-content {
    width: 70vw;
  }
}

.article-content {
    font-family: 'PingFang SC','Microsoft YaHei',SimHei,Arial,SimSun;
}

.article-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: gray;
}