html{
  font-size: 9px;
}

.page-wrapper {
  width: 95vw;
  margin: auto;
}

@media (min-width: 450px)
{
  html{
    font-size: 15px;
  }

  .page-wrapper {
    width: 90vw;
  }
}

@media (min-width: 850px)
{
  html{
    font-size: 20px;
  }

  .page-wrapper {
    width: 80vw;
  }
}